In [ ]:
import pandas as pd
import numpy

## The Pandas Series Object

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

### Series as Generalized Numpy array

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])

### Series as specialized dictionary

In [ ]:
population_dict = {'California': 38332521, 
                   'Texas': 26448193, 
                   'New York': 19651127, 
                   'Florida': 19552860,
                   'Illinois': 12882135}

### More Series examples

## The Pandas DataFrame Object

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
 'Florida': 170312, 'Illinois': 149995}

## Data Selection in Series

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])

## Data Selection in DataFrame

In [ ]:
area = pd.Series({'California': 423967, 
                  'Texas': 695662,
                  'New York': 141297, 
                  'Florida': 170312,
                  'Illinois': 149995})

pop = pd.Series({'California': 38332521, 
                 'Texas': 26448193,
                 'New York': 19651127, 
                 'Florida': 19552860,
                 'Illinois': 12882135})

## Missing Data in Pandas

In [ ]:
data1 = pd.Series([1, np.nan, 'hello', None])
data1 #

### Dropping Null Values

In [ ]:
df = pd.DataFrame([[1, np.nan, 2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])

### Filling null values

In [ ]:
data3 = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))

## Combining Datasets: Concatenation

In [ ]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
    for c in cols}
    return pd.DataFrame(data, ind)

# example DataFrame
make_df('ABC', range(3))

In [ ]:
df1 = make_df('AB', range(1,3))
df2 = make_df('AB', range(3,5))
print(df1); print(df2);

In [ ]:
df3 = make_df('AB', range(0,2))
df4 = make_df('CD', range(0,2))
print(df3); print(df4);

### Contenation with joins

In [ ]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
print(df5); print(df6); print(pd.concat([df5, df6]))

In [ ]:
print(df5); print(df6);